$colorgeneral: #F9A826;
$colorsecundario: #303030;

/* HTML y Body */
*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 62.5%;
}

.general{
    background-image: /* radial-gradient(circle, #aaaaaaa2, #898989a1, #6a6a6aa9, #4c4c4ca9, #303030),  */url(../image/estrellas.jpg);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:stretch;
}

.general__formulario{
    background-color: $colorsecundario;
    width: 70%;
    border-radius: 5px;
    padding: 5px;
}

.general__listas{
    color: white;
    font-size: 3rem;
    background-color: $colorsecundario;
    padding: 30px;
 
}

form p{
    background-color: $colorsecundario;
    width: 70%;
    border-radius: 5px;
    padding: 5px;
}

@keyframes aparecer{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .footer__padding{
        padding-bottom: 10px;
    }
    h1{
        font-size: 3rem;
    }
    .main__flex{
        p{
            font-size: 2rem;
        }
    }   
}

/* Header */
.header{
    background-color: black;
    margin-bottom: 50px;
    z-index: 10;
    position: fixed;
}

.header__logo{
    width: 60px;
}

.header__navegacion{
    font-size: 1.75rem;
    font-family: 'Roboto', sans-serif;
}

header nav ul li{
    padding-left: 15px;
}

.active{
    color: $colorgeneral !important;
}

.navbar-nav .nav-item .nav-link {
    color: white;
}

.nav-item a:hover{
    color: $colorgeneral !important;
}

/* Cuerpo de pagina */
.main{
    padding-top: 130px;
}

.main__flex{
    text-align: center;
    div {
        padding: 20px;
    }
    p{
        font-size: 1.75rem;
        color: white;
        line-height: 4;
    }
}

@media (max-width: 768px) {
    .main__flex{
        padding-top: 10px;
        padding-bottom: 50px;
    }
}

.main__padding{
    background-color: $colorsecundario;
    padding-bottom: 10px;
}

.main__margin{
    margin-bottom: 5%;
}

.main__margin__inicio{
    margin-bottom: 7%;
}

.main__flex_item{
    width: 500px;
    margin: 10px;
}

.main__reverse{
    flex-wrap: wrap-reverse;
}


.main__lista{
    color: white;
    font-size: 2rem;
    background-color: $colorsecundario;
    padding: 20px;
    list-style: none;
    line-height: 3;
}


/* footer */
.footer{
    background-color: black;
    color: white;
    max-width: 100%;
}

.footer__animacion a:hover{
    animation: heartBeat;
    animation-duration: 5s;
}

.footer__flex{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.footer__fin{
    padding: 20px;
    color: white;
    font-size: 1.5rem;
}

.footer__logo{
    width: 80px;
}

.espacio__inferior{
    padding-bottom: 15px;
}

.footer label{
    padding-left: 5px;
}

.colorAmarillo{
    color: $colorgeneral;
}

/* Titulos */
h1{
    font-size: 4rem;
    font-family: 'Bungee Shade', cursive;
    color:white;
    text-align: center;
    text-decoration:underline;
    margin: 0%;
}

h2{
    text-align: center;
    color: white;
    font-size: 2.5rem;
    border-radius: 15px;
    padding: 5px;
}

h3{
    background-color: #a6d3a0;
    width: 4cm;
    border-radius: 15px;
}

/* Textos */
.medidaP{
    font-size: 1.5rem;
    color: white;
}

.medidaM{
    font-size: 3rem;
    color: white;
}

.italica {
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

.negrita {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}


/* Imagenes */
.imgCuerpo{
    width: 100%;
}

.bordesRedondeados{
    border-radius: 50px;
}